In [11]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [13]:
data = pd.read_csv('datasets\deliveries.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd

match_id  batsman
1         A Choudhary        6
          BCJ Cutting       16
          CH Gayle          32
          DA Warner         14
          DJ Hooda          16
          KM Jadhav         31
          MC Henriques      52
          Mandeep Singh     24
          S Aravind          0
          S Dhawan          40
          SR Watson         22
          STR Binny         11
          Sachin Baby        1
          TM Head           30
          TS Mills           6
          YS Chahal          3
          Yuvraj Singh      62
2         AM Rahane         60
          AT Rayudu         10
          BA Stokes         21
          HH Pandya         35
          JC Buttler        38
          KA Pollard        27
          KH Pandya          3
          MA Agarwal         6
          MS Dhoni          12
          N Rana            34
          PA Patel          19
          RG Sharma          3
          SPD Smith         84
                            ..
11414     DJ Bravo           4
          F du Plessis      50
          I Sharma          10
          K Paul             4
          MS Dhoni          10
          P Shaw             6
          RR Pant           39
          S Dhawan          18
          S Rutherford      14
          SK Raina          11
          SR Watson         56
          SS Iyer           14
          TA Boult           6
11415     AS Yadav          15
          AT Rayudu          1
          DJ Bravo          15
          F du Plessis      26
          HH Pandya         16
          Ishan Kishan      25
          KA Pollard        41
          KH Pandya          7
          MJ McClenaghan     0
          MS Dhoni           2
          Q de Kock         30
          RA Jadeja          9
          RD Chahar          0
          RG Sharma         15
          SK Raina           9
          SN Thakur          2
          SR Watson         84
Name: batsman_runs, Length: 11294, dtype: int64

In [9]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
ave_run.to_csv('avgrun19.csv',index=False)

In [14]:
data = pd.read_csv('datasets/1617.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd

match_id  batsman
1         A Choudhary        6
          BCJ Cutting       16
          CH Gayle          32
          DA Warner         14
          DJ Hooda          16
          KM Jadhav         31
          MC Henriques      52
          Mandeep Singh     24
          S Aravind          0
          S Dhawan          40
          SR Watson         22
          STR Binny         11
          Sachin Baby        1
          TM Head           30
          TS Mills           6
          YS Chahal          3
          Yuvraj Singh      62
2         AM Rahane         60
          AT Rayudu         10
          BA Stokes         21
          HH Pandya         35
          JC Buttler        38
          KA Pollard        27
          KH Pandya          3
          MA Agarwal         6
          MS Dhoni          12
          N Rana            34
          PA Patel          19
          RG Sharma          3
          SPD Smith         84
                            ..
635       DJ Bravo          20
          DJ Hooda           4
          DR Smith           1
          DS Kulkarni        3
          ER Dwivedi         5
          KD Karthik        26
          MC Henriques      11
          NV Ojha           10
          RA Jadeja         19
          S Dhawan           0
          SK Raina           1
          Yuvraj Singh       8
636       AB de Villiers     5
          B Kumar            1
          BCJ Cutting       39
          Bipul Sharma       5
          CH Gayle          76
          CJ Jordan          3
          DA Warner         69
          DJ Hooda           3
          Iqbal Abdulla      4
          KL Rahul          11
          MC Henriques       4
          NV Ojha            7
          S Dhawan          28
          SR Watson         11
          STR Binny          9
          Sachin Baby       18
          V Kohli           54
          Yuvraj Singh      38
Name: batsman_runs, Length: 1763, dtype: int64

In [15]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
ave_run.to_csv('avgrun1617.csv',index=False)