In [11]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [13]:
data = pd.read_csv('datasets\deliveries.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd

match_id  batsman
1         A Choudhary        6
          BCJ Cutting       16
          CH Gayle          32
          DA Warner         14
          DJ Hooda          16
          KM Jadhav         31
          MC Henriques      52
          Mandeep Singh     24
          S Aravind          0
          S Dhawan          40
          SR Watson         22
          STR Binny         11
          Sachin Baby        1
          TM Head           30
          TS Mills           6
          YS Chahal          3
          Yuvraj Singh      62
2         AM Rahane         60
          AT Rayudu         10
          BA Stokes         21
          HH Pandya         35
          JC Buttler        38
          KA Pollard        27
          KH Pandya          3
          MA Agarwal         6
          MS Dhoni          12
          N Rana            34
          PA Patel          19
          RG Sharma          3
          SPD Smith         84
                            ..
11414     DJ Bravo           4
          F du Plessis      50
          I Sharma          10
          K Paul             4
          MS Dhoni          10
          P Shaw             6
          RR Pant           39
          S Dhawan          18
          S Rutherford      14
          SK Raina          11
          SR Watson         56
          SS Iyer           14
          TA Boult           6
11415     AS Yadav          15
          AT Rayudu          1
          DJ Bravo          15
          F du Plessis      26
          HH Pandya         16
          Ishan Kishan      25
          KA Pollard        41
          KH Pandya          7
          MJ McClenaghan     0
          MS Dhoni           2
          Q de Kock         30
          RA Jadeja          9
          RD Chahar          0
          RG Sharma         15
          SK Raina           9
          SN Thakur          2
          SR Watson         84
Name: batsman_runs, Length: 11294, dtype: int64

In [9]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
ave_run.to_csv('avgrun19.csv',index=False)

In [14]:
data = pd.read_csv('datasets/1617.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd

match_id  batsman
1         A Choudhary        6
          BCJ Cutting       16
          CH Gayle          32
          DA Warner         14
          DJ Hooda          16
          KM Jadhav         31
          MC Henriques      52
          Mandeep Singh     24
          S Aravind          0
          S Dhawan          40
          SR Watson         22
          STR Binny         11
          Sachin Baby        1
          TM Head           30
          TS Mills           6
          YS Chahal          3
          Yuvraj Singh      62
2         AM Rahane         60
          AT Rayudu         10
          BA Stokes         21
          HH Pandya         35
          JC Buttler        38
          KA Pollard        27
          KH Pandya          3
          MA Agarwal         6
          MS Dhoni          12
          N Rana            34
          PA Patel          19
          RG Sharma          3
          SPD Smith         84
                            ..
635       DJ Bravo          20
          DJ Hooda           4
          DR Smith           1
          DS Kulkarni        3
          ER Dwivedi         5
          KD Karthik        26
          MC Henriques      11
          NV Ojha           10
          RA Jadeja         19
          S Dhawan           0
          SK Raina           1
          Yuvraj Singh       8
636       AB de Villiers     5
          B Kumar            1
          BCJ Cutting       39
          Bipul Sharma       5
          CH Gayle          76
          CJ Jordan          3
          DA Warner         69
          DJ Hooda           3
          Iqbal Abdulla      4
          KL Rahul          11
          MC Henriques       4
          NV Ojha            7
          S Dhawan          28
          SR Watson         11
          STR Binny          9
          Sachin Baby       18
          V Kohli           54
          Yuvraj Singh      38
Name: batsman_runs, Length: 1763, dtype: int64

In [15]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
ave_run.to_csv('avgrun1617.csv',index=False)

In [16]:
data = pd.read_csv('datasets/1819.csv')
cd=data.groupby(['match_id','batsman'])['batsman_runs'].sum()
cd

match_id  batsman
7894      AS Yadav           43
          AT Rayudu          22
          DJ Bravo           69
          DL Chahar           0
          E Lewis             0
          HH Pandya          23
          Harbhajan Singh     9
          Imran Tahir         2
          Ishan Kishan       41
          KH Pandya          42
          KM Jadhav          27
          M Wood              3
          MS Dhoni            5
          RA Jadeja          12
          RG Sharma          16
          SK Raina            4
          SR Watson          16
7895      C Munro             4
          CH Morris          27
          DA Miller          24
          DT Christian       15
          G Gambhir          56
          KK Nair            50
          KL Rahul           51
          MA Agarwal          7
          MP Stoinis         23
          R Tewatia           9
          RR Pant            28
          SS Iyer            13
          V Shankar          14
                             ..
11414     DJ Bravo            4
          F du Plessis       50
          I Sharma           10
          K Paul              4
          MS Dhoni           10
          P Shaw              6
          RR Pant            39
          S Dhawan           18
          S Rutherford       14
          SK Raina           11
          SR Watson          56
          SS Iyer            14
          TA Boult            6
11415     AS Yadav           15
          AT Rayudu           1
          DJ Bravo           15
          F du Plessis       26
          HH Pandya          16
          Ishan Kishan       25
          KA Pollard         41
          KH Pandya           7
          MJ McClenaghan      0
          MS Dhoni            2
          Q de Kock          30
          RA Jadeja           9
          RD Chahar           0
          RG Sharma          15
          SK Raina            9
          SN Thakur           2
          SR Watson          84
Name: batsman_runs, Length: 1779, dtype: int64

In [17]:
cd0 = pd.DataFrame(cd)
ave_run=cd0.groupby('batsman')['batsman_runs'].mean().sort_values(ascending=False)
ave_run=pd.DataFrame(ave_run)
ave_run=ave_run.reset_index()
ave_run.to_csv('avgrun1819.csv',index=False)

In [18]:
ave_run

               batsman  batsman_runs
0            DA Warner     60.583333
1           J Bairstow     46.800000
2             KL Rahul     46.000000
3           JC Buttler     43.000000
4              RR Pant     40.933333
5       AB de Villiers     39.250000
6             CH Gayle     37.875000
7              V Kohli     36.107143
8        KS Williamson     34.923077
9      Gurkeerat Singh     34.666667
10            MS Dhoni     33.962963
11             R Parag     33.800000
12            S Dhawan     33.468750
13           SPD Smith     33.400000
14            AS Yadav     33.172414
15          AD Russell     32.259259
16        F du Plessis     32.166667
17             CA Lynn     31.862069
18           Q de Kock     31.791667
19             SS Iyer     31.275862
20           SV Samson     31.115385
21           SR Watson     30.812500
22            N Pooran     29.500000
23           AM Rahane     29.370370
24             E Lewis     29.000000
25          KD Karthik     28.035714
26            PA Patel     27.600000
27           AT Rayudu     27.575758
28          MJ Guptill     27.333333
29            SK Raina     27.093750
..                 ...           ...
147        M Ur Rahman      3.000000
148             M Wood      3.000000
149          RD Chahar      3.000000
150           VR Aaron      3.000000
151     Mohammed Shami      2.666667
152          MM Sharma      2.400000
153           TA Boult      2.333333
154             P Negi      2.166667
155       Basil Thampi      2.000000
156        Imran Tahir      2.000000
157          H Viljoen      2.000000
158            NV Ojha      2.000000
159           H Vihari      2.000000
160          YS Chahal      1.750000
161            BB Sran      1.750000
162            N Saini      1.500000
163           H Gurney      1.000000
164  Mustafizur Rahman      1.000000
165           M Ashwin      1.000000
166           A Turner      1.000000
167         PJ Sangwan      1.000000
168             S Kaul      0.750000
169          P Krishna      0.500000
170         L Plunkett      0.500000
171         B Laughlin      0.500000
172     Sandeep Sharma      0.000000
173            J Denly      0.000000
174       S Lamichhane      0.000000
175              P Raj      0.000000
176            K Ahmed      0.000000

[177 rows x 2 columns]